#wrapper {
	background-color:#3487c8;
	height:100%;
	width:100%;
	margin: 0 auto;
}
#header {
	height:250px;
	width:inherit;
	display:block;
}
#masthead {
	height:250px;
	width:50%;
	float:left;
}
#navigation {
	height:30px;
	width:100px;
	float:right;
}
#url_submit {
	background-color:#2f7bb6;
	height:150px;
	width:150px;
	float:right;
}
#feed_content {
	background-color:#2f7bb6;
	height:900px;
	width:auto;
}
#subscriptions {
	height:300px;
	width:260px;
	float:left;
}
.site_name {
	background-color:#d2d2d2;
	height:40px;
	width:260px;
}
#articles {
	background-color:#ffffff;
	height:auto;
	width:auto;
	float:left;
	min-width:700px;
	border:3px solid #ffffff;
}
.article_item {
    background-color:#d2d2d2;
	width:inherit;
	height:160px;
	margin-top:3px;
	border-radius: 8px 8px;
}
.vote-up {
	background-color:#7a7a7a;
	background-image:url('images/thumb_up.png');
	width:30px;
	height:30px;
	float:left;
	background-repeat:no-repeat;
	border-radius: 5px 5px;
	padding:5px;
	background-position: 50%;
	
}
.vote-down {
	background-color:#7a7a7a;
	width:30px;
	height:30px;
	float:left;
	background-image:url('images/thumb_down.png');
	background-repeat:no-repeat;
	border-radius: 5px 5px;
	padding:5px;
	background-position: 50%;
}
#footer {
	height:50px;
	width:100%;
	float:left;
}
/*typography*/
body, h1, h2, h3, h4, h5, p, a{
	font-family:Helvetica, Arial, sans-serif;
}
